.login-wrapper{
  margin-top: 10%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
  border-radius: 10px;
  padding: 30px;
  .logo-wrapper{
    text-align: center;
  }
  .form_login{
    padding: 20px;
  }
}




