<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <div class="card-text">
      <button >Get Selected Rows</button>
      <ag-grid-angular
      #agGrid
      id="myGrid"
      class="ag-theme-balham"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [defaultColGroupDef]="defaultColGroupDef"
      [columnTypes]="columnTypes"
      [rowData]="rowData"
      [floatingFilter]="true"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
    </div>
  </div>
</div>
